.btn{
    width:95px;
    margin-left:7px;
}
.searchBar{
    background-color: white;
    border:none;
}
.updateBar{
    background-color: white;
    border:none;
}
.delBar{
    background-color: white;
    border:none;
}
.addBar{
    background-color: white;
    border:none;
}
th{
    text-align: center;
}
.error {
    color : red;
}
.hideId{
    display:none;
}