<div class='container'>
    
      
<!-- ...............................Add customer form.......................... -->
        
<div>
<h3><strong> Add Customer </strong></h3>
</div>
 
          
<div > 
<form  novalidate [formGroup]='addForm' (ngSubmit)="onAddSubmit(addForm)" class='form-horizontal form-group'>
 <pre class='text-primary'>         
first Name:<input type="text" formControlName="firstname" class="form-control" [(ngModel)]="model.firstname"><span class="error">*</span>
 <span class="error" *ngIf="addForm.get('firstname').hasError('required') && addForm.get('firstname').touched">
       * firstName is required
      </span> 
last Name:<input type="text" formControlName="lastname"class="form-control" [(ngModel)]="model.lastname" ><span class="error">*</span>
  <span class="error" *ngIf="addForm.get('lastname').hasError('required') && addForm.get('lastname').touched">
       * lastName is required
  </span> 
E-mail:<input type="text" formControlName="email" class="form-control" [(ngModel)]="model.email" 
id='email' pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
#email="" ><span class="error">*</span>
    <span class="error" *ngIf="addForm.get('email').hasError('required') && addForm.get('email').touched">
        * E-mail is required
    </span>
    <span class="error" *ngIf="addForm.get('email').hasError('pattern') && addForm.get('email').touched">
        * Email format should be <small><b>joe@abc.com</b></small>
        
    </span>
<input type="submit" name="submit" value="Submit"  [disabled]="addForm.invalid" class="btn btn-primary"  ><br>
         
          </pre>
          </form>
              </div>
         
<!-- .......................show table and search ................................-->
<div class="row">
<div class='col-md-3'><h3><strong> Customer Table </strong></h3></div>
<div class='col-md-3'><form novalidate [formGroup]='searchForm' (ngSubmit)="onSearchSubmit(searchForm)">
<h4>search by first name: <input type="text" formControlName="firstname" [(ngModel)]='firstname' ></h4>
</form></div>
</div>
<!-- .........................show all table ............................................ -->
<div class="container" >
    <table class="table table-bordered table-responsive" *ngIf='customers && customers.length  '>
        <thead>
            <tr>
                <th>customers</th>
                <th>first name</th>
                <th>last name </th>
                <th>E-mail</th>
                <th width=250></th>
             </tr>
        </thead>
        <tbody>
            <tr *ngFor='let customer of customers|customerSearch:firstname; let i= index'  >
                <td>{{i+1}}</td>
                <td>{{customer.firstname}}</td>
                <td>{{customer.lastname}}</td>
                <td>{{customer.email }}</td>
                <td> <button type="button" class="btn btn-primary"  (click)='toggleUpdateForm(customer.id,customer.firstname,customer.lastname,customer.email,i)'>Edit</button>
                 <button type="button" class="btn btn-danger"  (click)="deleteCustomer(customer.id,i)">Delete</button></td>
                
            </tr>
        </tbody>
    </table>
</div>
          
        

<!-- ...............................update customer form.......................... -->
         
            
 <div>
    <form novalidate [formGroup]='updateForm' (ngSubmit)="onUpdateSubmit(updateForm)">
     <h3>Update Customer</h3>      <input type="text" formControlName="id" class="hideId" >
    <pre *ngIf='showUpdateForm' class='text-primary'>
 <span class="error">*</span>first Name:<input type="text" formControlName="firstname" class="form-control"  [(ngModel)]="model2.firstname" >
    <span class="error" *ngIf="updateForm.get('firstname').hasError('required') && updateForm.get('firstname').touched">
       * firstName is required
      </span>
 <span class="error">*</span>last Name:<input type="text" formControlName="lastname" class="form-control"  [(ngModel)]="model2.lastname"  >
    <span class="error" *ngIf="updateForm.get('lastname').hasError('required') && updateForm.get('lastname').touched">
       * lastName is required
      </span>
 <span class="error">*</span>E-mail:<input type="email" formControlName="email" class="form-control"  [(ngModel)]="model2.email" >
    <span class="error" *ngIf="updateForm.get('email').hasError('required') && updateForm.get('email').touched">
       * E-mail is required
      </span>
        <span class="error" *ngIf="updateForm.get('email').hasError('pattern') && updateForm.get('email').touched">
        * Email format should be <small><b>joe@abc.com</b></small>
        </span>

           <input type="submit" name="submit" value="update"  class="btn btn-primary" [disabled]="updateForm.invalid">
            </pre>
       </form>
</div>
           
 

        
<!-- ...............................delete customer form.......................... -->

